@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}

.blog-content-view p {
  text-align: justify;
}

.blog-content-view img {
  width: 100%;
  max-width: 100% !important;
  height: auto;
  border-radius: 0.75rem; 
  margin-top: 2em;
  margin-bottom: 2em;
}